html, body {
  margin: 0;
  font-family:  'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

 h5 {
  font-family: 'Prata', serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: black !important;
}

#root {
  background-color: black;
  height: 100%;

}